.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-top: 0;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"],
input[type="url"],
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#image-container {
  margin-top: 30px;
  text-align: center;
}

#uploaded-image {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#caption {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
}
